body {
    font-family:'Courier New', Courier, monospace;
    background: url("https://farm3.staticflickr.com/2001/4514042424_7b02afb20f_b.jpg") no-repeat center fixed;
}

ul {
    list-style-type: none;
    font-size: 1.2em;
}

img {
    display: inline;
    float: left;
    width: 55%;
    height: auto;
    margin-right: 50px;
}


article {
    margin: 0 300px 0 300px;
    /* text-align: center; */
}

h1 {
    text-decoration: underline;
    font-size: 2.5em;
}

h4 {
    color: red;
    font-size: 1em;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

